{% extends "layout.html" %}

{% set currentPage = "login" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Sign in
		</h1>
		<p>
			Sign in or <a href="#">create an account</a> to manage your apprenticeship funds.
		</p>

		<form action="approve-apprentices">
			{{ govukInput({
				label:
				{
					text: "Email address",
					classes: "govuk-!-width-three-quarters govuk-!-font-weight-bold"
				},
				id: "email",
				name: "email",
				type: "email",
				classes: "govuk-!-width-three-quarters",
				value: "email.address@domain.com"
			}) }}

			{{ govukInput({
				label:
				{
					text: "Password",
					classes: "govuk-!-width-three-quarters govuk-!-font-weight-bold"
				},
				hint:
				{
					text: ""
				},
				id: "password",
				name: "password",
				type: "password",
				classes: "govuk-!-width-three-quarters",
				value: "12345678"
			}) }}

			<input type="hidden" value="true" name="loggedIn">
			<input type="hidden" value="" name="create-account">

			{{ govukButton({
				text: "Sign in",
				href: "growth-limit-planned"
			}) }}
		</form>


		<ul class="govuk-list">
			<li><a href="/docs/tutorials-and-examples">Forgotten your password?</a></li>
		</ul>
	</div>
</div>

{% endblock %}