<h2 class="govuk-heading-l" id="sprint-12">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 12
  <span class="govuk-caption-l">
    13th &mdash;27th May 2020
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukDetails({
      summaryText: "Sprint design goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we're doing</th>
            <th scope='col' class='govuk-table__header'>Why we're doing it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Mothballing the project and setting in place possible future phases of work</td>
            <td class='govuk-table__cell'>---</td>
          </tr>
        </tbody>
      </table>"
    }) }}      
    <p class="govuk-body govuk-!-font-weight-bold">TBC</p>
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="https://skillsfundingagency.atlassian.net/browse/PEL-???" class="govuk-link govuk-link--no-visited-state">PEL-???</a></li>
      <li><a href="https://miro.com/app/board/o9J_ktBoJT8=/" class="govuk-link govuk-link--no-visited-state">Link TBC</a></li>
  </div>
</div>