
$info-colour: govuk-colour("purple");
$success-colour: govuk-colour("turquoise");
$warning-colour: govuk-colour("orange");
$danger-colour: govuk-colour("red");
$info-highlighted: govuk-colour("purple");

// Share notification styles
.app-notification {
	border-width: 4px;
	border-style: solid;
	background: #fff;
	margin-top: 0;
	padding: $govuk-gutter / 2 $govuk-gutter / 3 * 2;

	margin-bottom: $govuk-gutter;

	@include govuk-media-query($until: desktop) {
		border-width: 5px;
		border-style: solid;

		margin-top: $govuk-gutter;
		margin-bottom: $govuk-gutter;

		padding: ($govuk-gutter / 2) ($govuk-gutter / 2);
	}

	&:focus {
		outline: 3px solid govuk-gutter('yellow');
	}

	p {
		margin-bottom: 10px;
	}

	@for $index from 1 through 6 {
		h#{$index}[class^="govuk-heading-"] {
			margin: 0;
		}
	}

	&__list {
		padding-left: 0;
		li {
			@include govuk-media-query($from: tablet) {
				margin-bottom: 5px;
			}
		}
		a {
			font-weight: bold;
			text-decoration: underline;
		}
	}  
}

@mixin notificationStyle($colour) {
	border-color: $colour;
}

.app-notification--success {
	@include notificationStyle($success-colour);
}

.app-notification--info {
	@include notificationStyle($info-colour);
}

.app-notification--warning {
	@include notificationStyle($warning-colour);
}

.app-notification--danger {
	@include notificationStyle($danger-colour);
}


.info-highlighted {
	max-width: 30em;
	background: mix(white,govuk-colour("purple"),90%);
	border: none;
	border-left: solid 10px govuk-colour("purple");
}


// ==========================================================================
// This is a modifiation of the GDS pattern .govuk-box.highlight to include
// padding on the inside of the box, incase of a long title
// ==========================================================================

.sfa-govuk-box-highlight {
	padding-left:0.5em;
	padding-right:0.5em;
}