{% extends "layout_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype kit    
{% endblock %}

{% block content %}
<!--<main id="content" role="main" style="text-align: center;">-->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <img src="/public/images/pgl-planned-will-exceed.png" width="1280px" id="email">
          <div style="margin-left: 45%;">
          <h1 class="govuk-heading-m">The apprenticeships you have planned will take you over your growth limit</h1>
          <p class="govuk-body">
            You might want to talk to your employers about your capacity and check the apprenticeships you have planned.
            <br><br>
            If you would like to discuss raising your limit, you can contact us by xxxxxxxxx.
            <br><br>
            Sign into your apprenticeship service account - 
            <a href="login-planned">https://apprenticeships.service.gov.uk/((URL))</a>
            <br><br>
            This is an automated message. Please don't reply to this email.
            <br><br>
            Kind regards,
            <br>
            Apprenticeship service team
          </p>
        </div>
<!--</main>  -->
{% endblock %}