<h2 class="govuk-heading-l" id="sprint-9">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 10
  <span class="govuk-caption-l">
    15th &mdash;28th April 2020
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukDetails({
      summaryText: "Sprint design goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we're doing</th>
            <th scope='col' class='govuk-table__header'>Why we're doing it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Identified all known touchpoints employers may have with the service. Added indicative content if a Provider Growth Limit could affect the employer's experience, ready for research</td>
            <td class='govuk-table__cell'>To ensure employers don't have a poor experience by trying to engage a provider that doesn't have sufficient PGL, whilst limiting adverse affects on principle of employer choice</td>
          </tr>
        </tbody>
      </table>"
    }) }}  
    <p class="govuk-body govuk-!-font-weight-bold">PGL Notify iteration #1</p>
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="https://skillsfundingagency.atlassian.net/browse/PEL-530" class="govuk-link govuk-link--no-visited-state">PEL-530</a></li>
      <li><a href="https://miro.com/app/board/o9J_kt14y1Q=/" class="govuk-link govuk-link--no-visited-state">Employer touchpoint journey map</a> (Miro)</li>
    </ul>    
  </div>
</div>