<h2 class="govuk-heading-l" id="sprint-9">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 11
  <span class="govuk-caption-l">
    29th April &mdash;12th May 2020
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukDetails({
      summaryText: "Sprint design goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we're doing</th>
            <th scope='col' class='govuk-table__header'>Why we're doing it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>User journey maps, 2nd iteration of notify, identifying questions for UR, tools for internal staff to manage providers with PGLs</td>
            <td class='govuk-table__cell'>Iterate and research, create solutions to fulfill user needs identified in discovery</td>
          </tr>
        </tbody>
      </table>"
    }) }}  
    <p class="govuk-body govuk-!-font-weight-bold">View my PGL for Providers</p>
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="sprint-11/research/provider-portal/account-home" class="govuk-link govuk-link--no-visited-state">Apprenticeship funding tracker</a> (full journey)</li>
    </ul>      
    <p class="govuk-body govuk-!-font-weight-bold">PGL Notify iteration #2</p>
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="https://skillsfundingagency.atlassian.net/browse/PEL-576" class="govuk-link govuk-link--no-visited-state">PEL-576</a></li>
      <li><a href="https://miro.com/app/board/o9J_ktBoJT8=/" class="govuk-link govuk-link--no-visited-state">User journey map</a></li>
      <!--<p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">Provider - headroom notifications on homepage</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/sprint-10/research/provider-portal/account-home-subject" class="govuk-link govuk-link--no-visited-state">You are currently subject to a growth limit</a></li>
        <li><a href="/sprint-10/research/provider-portal/account-home-close" class="govuk-link govuk-link--no-visited-state">You are close to a growth limit</a></li>
        <li><a href="/sprint-10/research/provider-portal/account-home-planned" class="govuk-link govuk-link--no-visited-state">The apprenticeships you have planned will take you over your growth limit</a></li>
      </ul>
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">Provider - headroom notifications on Funding tracker</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/sprint-10/research/provider-portal/growth-limit-subject" class="govuk-link govuk-link--no-visited-state">You are currently subject to a growth limit</a></li>
        <li><a href="/sprint-10/research/provider-portal/growth-limit-close" class="govuk-link govuk-link--no-visited-state">You are close to a growth limit</a></li>
        <li><a href="/sprint-10/research/provider-portal/growth-limit-planned" class="govuk-link govuk-link--no-visited-state">The apprenticeships you have planned will take you over your growth limit</a></li>
      </ul>
    </ul>-->    
  </div>
</div>