{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width govuk-!-margin-bottom-9 govuk-!-margin-left-4">
    <h1 class="govuk-heading-xl">
      {{serviceName}} (PGL)<br>design history          
    </h1>
    <h2 class="govuk-heading-m">
      What is PGL?
    </h2>
    <p class="govuk-body">
      Provider Growth Limit is envisaged to be a ‘hard’, adjustable and risk-based limit on the amount of apprenticeship training funding that a provider can have committed to them at any one time. This is <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/1919287413/PGL+overview#Project-context">the full context</a>.
    </p>
    <p class="govuk-body">
      This documents the Alpha phase of the Provider Growth Limit project, Feb &mdash; May 2020.
    </p>
    {{ govukWarningText({
      text: "No user research has been undertaken on any of the designs created during the Alpha phase.",
      iconFallbackText: "Warning"
    }) }} 
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">
      Who has worked on this?
    </h2>
    <ul class="govuk-list govuk-list--bullet">      
      <li><a class="govuk-link" href="https://skillsfundingagency.atlassian.net/wiki/people/5caf4ce4f4c2b72785f452e2" title="Link to Helen's profile on Confluence">Helen Dickerson</a> &ndash; Content Designer</li>
      <li><a class="govuk-link" href="https://skillsfundingagency.atlassian.net/wiki/people/5b18ff545f02415b9f02adf5" title="Link to Rob's profile on Confluence">Rob Langdon</a> &ndash; Interaction Designer</li>
      <li><a class="govuk-link" href="https://skillsfundingagency.atlassian.net/wiki/people/5c3c843b2020af5dbe864c99" title="Link to Tom's profile on Confluence">Tom Hall</a> &ndash; Product Owner</li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">
      What have been our design goals and what has been done?
    </h2>
    <p class="govuk-body">
      {{ govukDetails({
        summaryText: "Alpha design goals",
        html: "<table class='govuk-table'>                    
          <thead class='govuk-table__head'>
            <tr class='govuk-table__row'>
              <th scope='col' class='govuk-table__header'>What's been done</th>
              <th scope='col' class='govuk-table__header'>How and why it was done</th>
            </tr>
          </thead>
          <tbody class='govuk-table__body'>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>Assessed impact across the service and created a journey map</td>
              <td class='govuk-table__cell'>Collaborated with other design teams in the Apprenticeship service, iterated based on discussions and steers given. Wanted to identify all users' touchpoints and therefore uncover needs through research.</td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>Reviewed design thinking with the team and iterated on these</td>
              <td class='govuk-table__cell'>Utilised the teams' skillsets to stress-test assumptions and validate assumptions. Regular reviews of design led to multiple iterations of possible solutions.</td>
            </tr>
            <tr class='govuk-table__row'>
              <td class='govuk-table__cell'>Built designs for research</td>
              <td class='govuk-table__cell'>Designs were created by working with other teams’ knowledge and the assumed user needs taken from the discovery research</td>
            </tr>
          </tbody>
        </table>"
      }) }}     
    </p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">
      What would we do next?
    </h2>
    {{ govukDetails({
      summaryText: "Future design goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What could be done</th>
            <th scope='col' class='govuk-table__header'>Why we would do it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Uncover internal users’ needs</td>
            <td class='govuk-table__cell'>---</td>
          </tr>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Investigate how providers' needs are serviced if they approach their growth limit</td>
            <td class='govuk-table__cell'>---</td>
          </tr>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Understand and define the agency's communications strategy</td>
            <td class='govuk-table__cell'>---</td>
          </tr>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Ensure any metrics shown to users reflect their reality</td>
            <td class='govuk-table__cell'>---</td>
          </tr>
        </tbody>
      </table>"
    }) }}     
  </div>   
  
  <hr class="govuk-section-break--l">
  
  <div class="govuk-grid-column-two-thirds">
    {% include './sprint-12/_summary.html' %}
                
    <h2 class="govuk-heading-l govuk-!-margin-top-9">
      Previous sprints
    </h2>

    {% set sprint11Html %}
    {% include './sprint-11/_summary.html' %}
    {% endset %} 

    {% set sprint10Html %}
    {% include './sprint-10/_summary.html' %}
    {% endset %} 

    {% set sprint9Html %}
    {% include './sprint-9/_summary.html' %}
    {% endset %} 

    {% set sprint8Html %}
    {% include './sprint-8/_summary.html' %}
    {% endset %} 

    {% set sprint7Html %}
    {% include './sprint-7/_summary.html' %}
    {% endset %} 

    {{ govukAccordion({
      id: "accordion-default",
      items:
      [      
      {
        heading:
        {
          text: "Sprint 11"
        },
        content:
        {
          html: sprint11Html
        },
        summary:
        {
          html: '29th April &mdash;12th May 2020'
        }
      },
      {
        heading:
        {
          text: "Sprint 10"
        },
        content:
        {
          html: sprint10Html
        },
        summary:
        {
          html: '15th &mdash;28th April 2020'
        }
      },
      {
        heading:
        {
          text: "Sprint 9"
        },
        content:
        {
          html: sprint9Html
        },
        summary:
        {
          html: '1st &mdash;14th April 2020'
        }
      },
      {
        heading:
        {
          text: "Sprint 8"
        },
        content:
        {
          html: sprint8Html
        },
        summary:
        {
          html: '18th &mdash;31st March 2020'
        }
      },
      {
        heading:
        {
          text: "Sprint 7"
        },
        content:
        {
          html: sprint7Html
        },
        summary:
        {
          html: '4th &mdash;17th March 2020'
        }
      },
      {
        heading:
        {
          text: "Alpha pre-work"
        },
        content:
        {
          html: "<ul class='govuk-list govuk-list--bullet'>
            <li><a href='https://miro.com/app/board/o9J_kvmxcg0=/' class='govuk-link govuk-link--no-visited-state'>Service blueprint</a></li>      
          </ul>"
        },
        summary:
        {
          html: '18th February &mdash;3rd March 2020'
        }
      }
      ]
    }) }}
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      <br>Design artefacts
    </h2>
    <div class="govuk-inset-text">
      <ul class='govuk-list govuk-list--bullet'>        
        <li><a href='public/images/pgl-user-journey-map.pdf' class='govuk-link govuk-link--no-visited-state'>User journey map (PDF)</a></li>
        <li><a href='https://miro.com/app/board/o9J_ktQbeO8=/' class='govuk-link govuk-link--no-visited-state'>User journey map (Miro)</a></li>
        <li><a href='https://drive.google.com/open?id=1NSjettC-b3QafZcLd_zVKfqEVNmiJXKW' class='govuk-link govuk-link--no-visited-state'>Research discovery insights</a></li>
        <li><a href='https://drive.google.com/open?id=1O09xOm6_ygk38Cj_FbxcKAdGm_1oBDcWfG40InutbrA' class='govuk-link govuk-link--no-visited-state'>Design research analysis</a></li>
      </ul>
    </div>    
  </div>
</div>

{% endblock %}
