{% extends "layout.html" %}

{% block cookie_message %}
<p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
<div class="header-proposition">
	<div class="content">
		<nav id="proposition-menu">
			<a href="/" id="proposition-name">
				{% block service_name %}
				{% if serviceName %} {{ serviceName }} {% endif %}
				{% endblock %}
			</a>
		</nav>
	</div>
</div>
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
	homepageUrl: "/",
	serviceName: serviceName,
	serviceUrl: "/",
	classes: "app-apprentice-service-header"
}) }}
<style>
#global-header-bar{ display:none !important; }
</style>
{% if currentPage == 'login' %}
<div class="header-user">
	<div class="header-inner">
		<div class="account-information" role="navigation">
			<!-- <a href="#user-nav" id="link-settings" aria-hidden="false" aria-label="Access your settings">Settings</a> -->
			<nav id="user-nav" class="close" aria-hidden="true">
				<ul role="menubar">
					<li><a href="#">Help</a></li>
				</ul>
			</nav>
		</div>
		
	</div>
</div>
{% else %}
{% if showSurvey == 'true' %}
<div class="notice-banner">
	<div class="notice-banner__wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<p class="notice-banner__content">
					Help us improve how content is organised on the apprenticeship service. <a href="#">Take part in our 15 minute research activity</a>. It should take less than 10 minutes. 
				</p>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div id="floating-menu-holder" class="floating-menu-holder--provider">
	<div class="account-information floating-menu" role="navigation">
		<div class="js-float">
			<p class="floating-head-text">Your training provider account </p>
			<nav id="user-nav">
				<ul role="menubar">
					<li>
						<a href="#" class="govuk-!-font-weight-bold">USER TEST</a>
					</li>
					<li>
						<a href="#" class="govuk-!-font-weight-bold" role="menuitem">Notification settings</a>
					</li>
					<li><a href="#" role="menuitem">Sign out</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<div class="header-organisation" role="navigation">
	<nav class="header-inner">
		<ul role="menubar" id="global-nav-links">
			<li>
				<a href="/{{feature}}/account-home" class="{{'selected' if currentPage == 'account-home' }}" role="menuitem">Home</a>
			</li>
			<li>
				<a href="#" role="menuitem">Manage funding</a>
			</li>
			<li>
				<a href="#" role="menuitem">Your cohorts</a>
			</li>
			<li>
				<a href="#" class="{{'selected' if currentPage == 'finance' }}" role="menuitem">Manage your apprentices</a>
			</li>
			<li>
				<a href="#" class="{{'selected' if currentPage == 'finance' }}" role="menuitem">Recruit an apprentice</a>
			</li>
			<li class="menu-link">
				<a href="#">More</a>
				<ul>
					<li>
						<a href="#" class="" role="menuitem">Organisations and agreements</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
{% endif %}
{% endblock %}

{% block header_class %}
with-proposition
{% endblock %}

{% block footer %}
{{ govukFooter({
	meta: {
	items: [
	{
		href: "prototype-settings",
		text: "Prototype settings"
	},
	{
		href: "/prototype-admin/clear-data",
		text: "Clear data"
	}
	]
}
}) }}
{% endblock %}

{% block body_end %}
{% block scripts %}
{% include "includes/scripts.html" %}

{% block pageScripts %}
{% endblock %}

{% endblock %}
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
