<h2 class="govuk-heading-l" id="sprint-9">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 9
  <span class="govuk-caption-l">
    1st &mdash;14th April 2020
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m" id="research">
      Research
    </h3>     
    <p class="govuk-body govuk-!-font-weight-bold">PEL-495 View my PGL on Provider portal</p>
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="sprint-9/research/provider-portal/account-home" class="govuk-link govuk-link--no-visited-state">Positive headroom</a> (full journey)</li>
      <li><a href="/public/images/PEL-495-variations.jpg" class="govuk-link govuk-link--no-visited-state">Versions showing planned included and not included </a> (screenshot)</li>
      <li><a href="https://docs.google.com/presentation/d/1F6IHN2amkJ1K3XrAh8gBRwIuQGSF7Zfj9sn858oqZwk/edit#slide=id.g7384f8b779_0_0" class="govuk-link govuk-link--no-visited-state">Meeting notes </a> (Google Slides)</li>
      <!--<li><a href="sprint-9/research/provider-portal/account-home" class="govuk-link govuk-link--no-visited-state">Version A - negative headroom</a> (screen only)</li>
      <li><a href="sprint-9/research/provider-portal/account-home" class="govuk-link govuk-link--no-visited-state">Version B</a> (screen only)</li>-->
    </ul>    
  </div>
</div>