<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!--<h3 class="govuk-heading-m" id="research">
      Research
    </h3>-->
    {{ govukDetails({
      summaryText: "Sprint design goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we did</th>
            <th scope='col' class='govuk-table__header'>Why we did it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Iteration 2 of the funding tracker. After feedback from the team, we needed to meet the user needs better and take into account more scenarios in our thinking.</td>
            <td class='govuk-table__cell'>---</td>
          </tr>
        </tbody>
      </table>"
    }) }}     
    <p class="govuk-body govuk-!-font-weight-bold">View my PGL on Provider portal iteration #2</p>
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="https://skillsfundingagency.atlassian.net/browse/PEL-495" class="govuk-link govuk-link--no-visited-state">PEL-495</a></li>
      <li><a href="sprint-9/research/provider-portal/account-home" class="govuk-link govuk-link--no-visited-state">Positive headroom</a> (full journey)</li>
      <li><a href="/public/images/PEL-495-variations.jpg" class="govuk-link govuk-link--no-visited-state">Versions showing planned included and not included </a> (screenshot)</li>
      <li><a href="https://miro.com/app/board/o9J_kuz71qU=/" class="govuk-link govuk-link--no-visited-state">Iterations 6 - 9</a> (Miro)</li>                  
      <li><a href="https://docs.google.com/presentation/d/1F6IHN2amkJ1K3XrAh8gBRwIuQGSF7Zfj9sn858oqZwk/edit#slide=id.g7384f8b779_0_0" class="govuk-link govuk-link--no-visited-state">Design documentation</a> (Google Slides)</li>
    </ul>  
  </div>
</div>