<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!--<h3 class="govuk-heading-m" id="research">
      Design work
    </h3>-->                     
    {{ govukDetails({
      summaryText: "Sprint design goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we did</th>
            <th scope='col' class='govuk-table__header'>Why we did it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>Introduced PGL to other service teams</td>
            <td class='govuk-table__cell'>In order to design to user needs, we need the expertise of the respective service teams</td>
          </tr>
        </tbody>
      </table>"
    }) }}
    <h3 class="govuk-heading-s">
      Understand the Find Apprenticeship Training (FAT) space
    </h3>        
    <ul class="govuk-list govuk-list--bullet">                              
      <li><a href="https://skillsfundingagency.atlassian.net/browse/PEL-426" class="govuk-link govuk-link--no-visited-state">PEL-426</a></li>
      <li><a href="https://docs.google.com/document/d/1IPY46sltp14VgBx-gUZoxquKL13nWMZWfAs90fVdzhg/edit#" class="govuk-link govuk-link--no-visited-state">Design documentation</a></li>      
    </ul>
    <h3 class="govuk-heading-s">
      Understand the Fire It Up space
    </h3>        
    <ul class="govuk-list govuk-list--bullet">                              
      <li><a href="https://skillsfundingagency.atlassian.net/browse/PEL-423" class="govuk-link govuk-link--no-visited-state">PEL-423</a></li>
      <li><a href="https://docs.google.com/document/d/1-hmCebUmkXILYVGoIDEOkB0pakwgpsF4Ocv324Zm8kY/edit#" class="govuk-link govuk-link--no-visited-state">Design documentation</a></li>      
    </ul> 
    <h3 class="govuk-heading-s">
      Understand the Approvals space
    </h3>        
    <ul class="govuk-list govuk-list--bullet">                              
      <li><a href="https://skillsfundingagency.atlassian.net/browse/PEL-363" class="govuk-link govuk-link--no-visited-state">PEL-363</a></li>
      <li><a href="https://docs.google.com/document/d/1EwGE5WGu1VMq8gIiIDGLSKLlySS2EFtLNJviABCwGkw/edit#heading=h.xv0i4o1u1qld" class="govuk-link govuk-link--no-visited-state">Design documentation</a></li>      
    </ul> 
  </div>
</div>